{% extends "Radiosim/base.html" %}
{% block title %} Team {% endblock %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="jumbotron">
            <h1>Office</h1>
            <b>MSEE 226:</b>
            <p>
                Materials and Electrical Engineering Bldg (MSEE)
                501 Purdue Mall West Lafayette, IN 47907
            </p>
            <b>Email:</b>
            <p>
                shreyas [at] purdue.edu
                shreyas.sen [at] gatech.edu
            </p>
        </div>
    </div>

{% endblock %}