{% extends "Radiosim/base.html" %}
{% block title %} News {% endblock %}
{% block head %}
    {{block.super}}
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'css/mediaimage.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">#}
        
{% endblock %}
{% block content %}
    <div style="max-width: 80%; margin: 0 auto; padding: 10px">
        <h2 class="featurette-heading">Low-Power Adaptive Wireless</h2>
        <h2 class="accent">Virtually Zero Margin RF (VIZOR) Channel-adaptive RF systems</h2>
        <p class="lead">Wireless circuits/systems are designed to support wide dynamic range of channel conditions. Worst case design methodology for wireless transceivers leads to
            significant power overhead when the channel is not worst case. My doctoral research demonstrated channel-adaptive zero-margin wireless systems that adapt itself continuously,
            to only consume the minimum power required to deliver a given Quality of Service (QoS). This was achieved by designing system level feedback to control circuit power/performance.
            The key enablers of such system are a) circuits with built-in tuning knobs that exhibit graceful power-performance trade-off b) a sensor/adaptation metric (Error Vector Magnitude, EVM)
            that can be calculated in real-time, represents sum information of front-end and channel quality, and exhibits strong correlation with the end-to-end quality metric (bit-error-rate) c)
            an adaptation algorithm that tunes the circuit performance depending on the instantaneous channel quality. Such a Virtually Zero-margin RF (VIZOR) transceiver could provide 60-75%
            power savings under the best channel conditions.</p>

        <p class="lead">Key Publications : RWS 2008, TCAS2 2008, TCAS1 2011</p>
        <div class="row">
            <a href="{% static "img/research/VTLNA.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/VTLNA.png" %}" class="img-fluid rounded">
            </a>

        </div>
        <h2 class="accent">Process-Variation Tolerant (Pro-Vizor) Channel-adaptive RF systems</h2>
        <p class="lead">VIZOR systems follow an adaptation control-law to adapt to changing channel conditions to always operate at minimum power possible. However, this control-law depends on the manufactured
        process corner of the device and hence the optimum control-law for the nominal device is not optimum anymore for a device with process variation.  Process-variation tolerant channel-adaptive
        systems (Pro-VIZOR) are deigned by adapting the channel-adaptation control-law based on the devices process corner to ensure optimum channel-adaptation for the given device. The process
        information of the device is sensed using low-cost built-in-self-test (BIST) techniques and drives the choice of the control law, leading to extra power savings under process-variation for
            channel-adaptive systems.</p>

        <p class="lead">Key Publications : DAC 2008, TCAD 2014</p>
        <div class="row">
            <a href="{% static "img/research/Pro_Vizor.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/Pro_Vizor.png" %}" class="img-fluid rounded">
            </a>

        </div>

        <h2 class="accent">Wideband Jammer Detector for Real-Time Blocker Tolerance</h2>
        <p class="lead">To simultaneously meet the stringent power budget and high performance requirements modern portable radio receivers employ adaptive circuit/system techniques. Adaptive receivers
            opportunistically reduce its power consumption when operating environment is better than its worst case. The highest power requirement in wireless receiver design comes from the widely varying
            signal and blocker/jammer scenarios that a receiver has to deal with. Handling high blocker requires high linearity whereas low signal strength calls for very low noise figure and high gain.
            One way to save power in a receiver is to operate in a low linearity mode when there are no jammers present in the radio channel. To enable this, adaptive receivers‘ monitor the signal and
            jammer strength by employing an extra built in low power circuit called jammer detector (JD) that can detect the presence of jammers in the operating environment. Traditional jammer detectors
            used in commercial receivers are narrow band (NB JD), i.e. they can only look for jammers in the close vicinity of the signal. They are generally implemented by tapping the intermediate/low
            frequency output of the downconversion mixer. Similar implementation of an NBJD uses 4 power detectors (2 in IF frequency and 2 in digital) to measure the power in different points along the
            receiver chain to estimate jammer and signal powers. However, only NBJD does not provide the true jammer scenario as it cannot give an estimation of far-out jammers (caused by own transmitter
            in concurrent operation 183 mode or from other transmitters) which also cause problems when the signal to be sensed is very low and the jammers are very high power. For example a DVB-H receiver
            suffers from such far out jammers at GSM (900 MHz), WLAN (2.4GHz) and jammers at odd harmonics of the local oscillator frequency. The only circuits that are capable of measuring these jammers
            are on-chip spectrum analyzer or multi-resolution spectrum sensing  developed for cognitive radios, both of which are significantly high power, consuming almost same power as the receiver itself.
            To address the issue of far-out jammer detection this work proposes the design of an ultra-low power miniature wideband (1GHz @ 2.2 mW, 2.4 GHz @ 3.6 mW) jammer detector (WBJD) as part of an
            adaptive DVB-H receiver. This design includes a high gain low power RF amplifier to increase JD sensitivity, a low power peak detector and digital conditioning circuit that allows a programmable
            attack time, all within 2.2 mW.</p>

        <p class="lead">Key Publications : US Patent "Wideband Jammer Detector", S.Sen PhD Thesis, "Design of Process and Environment Adaptive Ultra Low Power Wireless Circuits and Systems" </p>
        <div class="row">
            <a href="{% static "img/research/WBJD.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/WBJD.png" %}" class="img-fluid rounded">
            </a>

        </div>
        <h2 class="accent">Orthogonally-Tunable Circuits For optimum Low-Power Adaptation </h2>
        <p class="lead">To enable better adaptation we proposed the design of orthogonally tunable circuit blocks where the key specifications (e.g. gain and linearity in an LNA) of the circuit block can be
            tuned independent of each other to save power. Most of the traditional RF circuits are static or minimally tunable using some digital controllability. For example, high power, low power and shut
            down modes are available in some commercially available transceivers. If available, the tuning knobs affect different specifications in an interdependent manner. This is not enough for optimal
            operation of complete self-aware self-adaptive systems. Independent or orthogonal tunability of the important conflicting specifications using built-in tuning knobs allow optimal adaptation of
            the wireless systems. This work demonstrates the design and benefits of orthogonal tuning knobs using an inductorless LNA as a test vehicle. The orthogonally tunable LNA  has a 14 dB Gain and 30
            dB OIP3 tuning range as its power consumption goes down by 20×. Use of the orthogonally tunable LNA within an adaptive wireless receiver framework shows an extra 22% system power savings compared
            to a traditional non-orthogonal case.</p>

        <p class="lead">Key Publications : ISCAS 2011,  TCAS 1 2012 </p>

        <div class="row">
            <a href="{% static "img/research/OTLNA.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/OTLNA.png" %}" class="img-fluid rounded">
            </a>

        </div>
        <h2 class="featurette-heading">Zero-Margin MIMO systems (Energy vs. Data Priority Modes)</h2>
        <p class="lead">The VIZOR concept is extended to MIMO systems in this work. In the diversity mode, due to reduced fading margin requirements, more power can be saved during VIZOR operation. It is shown
            that the modulation switch points for maximum data rate (Data Priority Mode) doesn't translate to minimum energy operation. An additional mode and corresponding switch points are proposed which
            minimizes energy consumption (Energy Priority Mode), leading to as much as 2X savings for some channel conditions. </p>

        <p class="lead">Key Publications : DAC 2013, TCAD 15</p>
        <div class="row">
            <a href="{% static "img/research/DAC_MIMO.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/DAC_MIMO.png" %}" class="img-fluid rounded">
            </a>

        </div>
        <h2 class="accent">Self-Learning Variation-Tolerant Zero-Margin RF systems </h2>
        <p class="lead">Pro-VIZOR systems use a pre-characterized locus (adaptation control law) generated in design phase for variation-tolerant low-power adaptation. Though this is feasible for SISO systems,
            generating a huge number of loci for MIMO systems is largely intractable due to the complexity of simulation across all channel conditions and process corners. In this work we propose a self-learning
            strategy for adaptive MIMO-RF systems. In this approach, RF devices learn their own performance vs. power consumption vs. tuning knob relationships “on-the-fly” and formulate the optimum
            reconfiguration strategy using neural-network based learning techniques during real-time operation. The methodology is demonstrated for a MIMO-RF receiver front-end and is supported by hardware
            validation leading to 2.5x power savings in minimal learning time.</p>

        <p class="lead">Key Publications : ICCAD 2014, TCAS 1 2017</p>
        <div class="row">
            <a href="{% static "img/research/Self_Learning_ICCAD.png.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-12">
                <img src="{% static "img/research/Self_Learning_ICCAD.png" %}" class="img-fluid rounded">
            </a>

        </div>

    </div>
{% endblock %}