{% extends "Radiosim/base.html" %}
{% block title %} News {% endblock %}
{% block head %}
    {{block.super}}
    {% load static %}
     <script>
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
        });
    </script>
{% endblock %}
{% block content %}
{#<div class="jumbotron">#}
{#    <p> This is underdevelopment page</p>#}
{#</div>#}
    <div style="max-width: 80%; margin: 0 auto; padding: 10px">
        {#        <div class="row featurette">#}
        {#            <div class="col-md-7">#}
        <h2 class="accent">The U.S. Department of Homeland Security  <span class="text-muted">(Mar-May 19)</span></h2>
        <p class="lead"> recently warned that numerous medical devices made by Medtronic are vulnerable to cyber attack.
            A solution to which is the EQS-HBC recently published by our group. IEEE Spectrum covered our work saying "Medtronic discloses medical device vulnerabilities,
            while Purdue University scientists propose countermeasure to block attacks".  IEEE Spectrum Article.</p>
        {#            </div>#}
        {#            <div class="col-md-5">#}
        {#        <div class="img"><img src="{% static "img/news/DHS advisory.png" %}" alt="Lights" ></div>#}
{#        <div class="flex-container">#}
{#            <div> <img src="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" class="rounded float-left" alt="..."></div>#}
{#            <div> <img src="{% static "img/news/DHS advisory.png" %}" class="rounded mx-auto d-block" alt="..."></div>#}
{#            <div> <img src="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" class="rounded float-right" alt="..."></div>#}
{#        </div>#}
            <div class="row">
                <a href="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" class="img-fluid rounded">
                </a>
                <a href="{% static "img/news/DHS advisory.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/news/DHS advisory.png" %}" class="img-fluid rounded">
                </a>
                <a href="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" class="img-fluid rounded">
                </a>
            </div>
{#            <div class="row">#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">#}
{#                </a>#}
{#            </div>#}


        {#           </div>#}
        {#        </div>#}


{#        <div class="container-fluid marketing">#}

        {#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent">Best Student Paper Award at HOST 2019. <span class="text-muted">(May 19)</span></h2>
        <p class="lead">Congratulations Debayan and co-authors. Purdue Announcement. This work presents a a white-box model for electromagnetic signal leakage and low-overhead countermeasure for EM Side-Channel Attack. Paper Link.
            This is also the third succesive year that SparcLab has received Best paper/poster Award at HOST (2017, 2018 and 2019). Congratulations to all the co-authors for this series of fantastic work on IoT Security over past 3 years. Also, a big Thank You to our collaborators from Intel, especially Santosh Ghosh, the whole Intel Labs team, Arijit Raychowdhury and National Science Foundation (NSF)
            for the constant support, funding, and encouragement. </p>
        {#                </div>#}
        {#         width=450 height=250       <div class="col-md-5 order-md-1">#}
          <div class="row">
                <a href="{% static "img/news/host1_2019.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/host1_2019.jpg" %}" class="img-fluid rounded">
                </a>
              <a href="{% static "img/news/host2_2019 (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/host2_2019 (Small).png" %}" class="img-fluid rounded">
              </a>
          </div>

        {#                </div>#}
        {#            </div>#}


{#            <div class="row featurette">#}
        {#                <div class="col-md-7">#}
        <h2 class="accent">Best Paper Award (Ovearll) <span class="text-muted">in Apr 19 CICC 2019.</span></h2>
        <p class="lead">The paper presented the first monolithic CMOS radiation to digital converter, which consists of a floating-gate radiation sensor and a time-based resistance-to-digital-converter (RDC).
            Congratulations to Baibhab Chatterjee, Shovan Maity, Prof. Dimitrios Peroulis' team, and our LANDAUER collaborators Daniel J. Valentino, Ph.D., and Sean Scott on this award. Great industry-academia collaboration. Thank you all!
            Purdue News Release</p>
        <div class="row">
            <a href="{% static "img/news/CICC_2019 (Small).jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/CICC_2019 (Small).jpg" %}" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/Shreyas_Sen_CICC_Best_Paper_2019_Monolithic_Radiation_Dosimeter_Time_Based_Sensing (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/Shreyas_Sen_CICC_Best_Paper_2019_Monolithic_Radiation_Dosimeter_Time_Based_Sensing (Small).png" %}" class="img-fluid rounded">
            </a>
        </div>



{#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent"> Security of Internet of Body: <span class="text-muted"> Mar 19</span></h2>
        <p class="lead">Our work on EQS-HBC is covered by 50+ news sites. More details here. This paper in Scientific Reports (Nature) demonstrated Physical Security of HBC for the first time. Congratulations Debayan and co-authors.:w
        </p>

        <div class="row">
            <a href="{% static "img/news/EQS_HBC (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="{% static "img/news/EQS_HBC (Small).png" %}" class="img-fluid rounded">
            </a>
        </div>


{#            <div class="row featurette">#}
        <h2 class="accent">Paper accepted <span class="text-muted">in DAC 19 and CICC 19 Jan 19</span></h2>
        <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>
        {#            </div>#}

        {#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent"> HKN Beta Chapter 'Outstanding Professor Award<span class="text-muted"> Dec 19</span></h2>
        <p class="lead">
            Prof. Sen is recognized with the HKN Beta Chapter 'Outstanding Professor Award' and Purdue EVPRP Acorn Award
        </p>
         <div class="row">
            <a href="{% static "img/news/HKN_F18_Sen.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/HKN_F18_Sen.jpg" %}" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/Shreyas_Sen_Award_Fall_2018.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/news/Shreyas_Sen_Award_Fall_2018.jpg" %}" class="img-fluid rounded">
            </a>
        </div>




            <h2 class="accent"> Landauer supports SPARC Lab Research on Efficient BioSensing <span class="text-muted"> Dec 18</span></h2>

        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/logo/landauer_416x416.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/logo/landauer_416x416.jpg" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> CTSI supports Sparc Lab researh on Biomedical Devices<span class="text-muted">(Nov 18)</span></h2>
         <div class="row">
            <a href="{% static "img/news/cropped-ctsi-logo-horizontal.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/news/cropped-ctsi-logo-horizontal.png" %}" class="img-fluid rounded">
            </a>
        </div>



        <h2 class="accent"> Intel Corporation supports SPARC Lab Research <span class="text-muted"> (Oct 18)</span></h2>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/logo/printlogo.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/logo/printlogo.png" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent"> SPARC Lab is supported by <a href="https://www.purdue.edu/discoverypark/birck/research/smart-films.php" target="_blank">SMART Films Consortium</a>, Purdue University to develop ULP Sensor Nodes<span class="text-muted">Aug 18</span></h2>
        <div class="row">
            <a href="{% static "img/news/smartfilms.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/smartfilms.jpg" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent">SPARC Lab is going to lead and perform on the DARPA MIDAS program to design mm-wave oscillators. <span class="text-muted"> Jul 18</span></h2>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
        <div class="row">
            <a href="{% static "img/news/DARPA_logo_(current).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/DARPA_logo_(current).png" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> SPARC Lab is part of a <a href="https://www.purdue.edu/newsroom/releases/2017/Q3/lilly-and-purdue-university-announce-strategic-research-collaboration.html" target="_blank">$52m grant</a> from Eli Lilly and Company to explore Securely Connected BioMedical Devices.
            <a href="https://www.usnews.com/news/best-states/indiana/articles/2017-07-06/eli-lilly-to-fund-up-to-52m-in-purdue-life-science-research" target="_blank">USNews Report.</a> <span class="text-muted">Jun 18</span></h2>

        <div class="row">
            <a href="{% static "img/news/1200px-Eli_Lilly_and_Company.svg.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/1200px-Eli_Lilly_and_Company.svg.png" %}" class="img-fluid rounded">
            </a>
        </div>



        <h2 class="accent">AFRL 2030: <span class="text-muted"> May 18</span> </h2>
        <p class="lead">Prof. Sen was invited to speak at <a href="https://afresearchlab.com/" target="_blank">IU-AFRL 2030</a>, that aims to help define the Science and Technology vision for 2030. Discussions with
            <a href="https://www.af.mil/About-Us/Biographies/Display/Article/579032/brigadier-general-william-t-bill-cooley/" target="_blank">Major General Bill Cooley</a>, Commander of Air Force Research Laboratory, during this event was really inspiring.
           </p>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
        <div class="row">
            <a href="{% static "img/news/IU_AFRL_2030e1f7.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                 <img src="{% static "img/news/IU_AFRL_2030e1f7.jpg" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> Best Poster Award: <span class="text-muted">May 18</span></h2>
            <p class="lead">Baibhab Chatterjee and co-authors received 3rd Best Poster Award for paper titled "RF-PUF: IoT Security Enhancement through Authentication of Wireless Nodes using In-situ Machine Learning," at premier <b>Hardware Security</b> Conference
            <a href="http://www.hostsymposium.org/host_2018awards.php">HOST 2018</a>. Congratulations to <b>Baibhab</b> and co-authors. This work shows how <b>In-situ Machine Learning could Secure Radio Communication.</b> </p>
         <div class="row">
            <a href="{% static "img/news/Baibhab_Shreyas_HOST_17_RF_PUF (Small).jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/Baibhab_Shreyas_HOST_17_RF_PUF (Small).jpg" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent">MIT TR35 India Award: <span class="text-muted"> May 18</span> </h2>
        <p class="lead">Prof. Sen has been named one of India’s top innovators under 35 by MIT Technology Review and Mint.  Mint Newspaper, Purdue News Release</p>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/news/tr35_in_logo_x350.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/tr35_in_logo_x350.png" %}" class="img-fluid rounded">
            </a>
        </div>

           <div>
               <h2 class="accent">  Our HOST 18 paper<span class="text-muted"> Jan 18</span> </h2>
               <p class="lead"> going to present a RF-PUF for IoT Security Enhancement using Machine Learning in Radio baseband.
                   Congratulations Baibhab and co-authors. </p>
           </div>
            <div>
               <h2 class="accent"> Paper in Microwave and Wireless Component Letters (MWCL) <span class="text-muted"> Jan 18</span> </h2>
                <p class="lead">highlighting new insights into HBC Channel Models. Congratulations Shovan and co-authors.
                   Title: Characterization of Human Body Forward Path Loss and Variability Effects in Voltage-Mode HBC. </p>
            </div>
            <div>
                <h2 class="accent">Paper in CICC 2018 demonstrating<span class="text-muted"> Jan 18</span></h2>
                <p class="lead">World's Lowest Energy HBC Transceiver, improving the state-of-the-art by 18X. Congratulations Shovan and co-authors.
                    Title: A 6.3pJ/b 30Mbps -30dB SIR-tolerant Broadband Interference-Robust Human Body Communication Transceiver using Time Domain Signal-Interference Separation.  </p>
            </div>

        <!--
            <div>

                (Dec 17) Radio Interview on HBC: NPR subsidiary Lakeshore Public Radio  published excerpts of Radio Interview on Purdue Human Body Communication Technology.  Listen Here.
            </div>

            <div>
                (Dec 17) Our work on Broadband Interference-robust Human Body Communication was featured by 30+ news sites in USA, UK, Greece, India. We sincerely thank our sponsors AFOSR YIP, NSF CRII Award and Google FRA for supporting this research spanning from basic research to applications.
            </div>
            <div>
                "Purdue discovery clears way for human body to work as robust communication network for electronic devices"
                Image result for business insider Image result for "phys.org"  Image result for ecnmagRelated imageImage result for images "wn.com" Related imageImage result for "the engineer" uk logo
            </div>




            <div>

                (Dec 17) Landauer supports SPARC Lab Research on Efficient BioSensing
            </div>
            <div>

                (Nov 17) Paper published in IEEE Journal of Solid State Circuits (JSSC 2017) on Switched-Mode Control Hybrid LDO  (with ICSRL, Georgia Tech)

                Image result for journal of solid state circuits
            </div>
            <div>

                (Oct 17) Dr. Sen is now a Senior Member of IEEE.

                (Oct 17) Intel Corporation supports SPARC Lab Research
                Image result for intel

            </div>
            <div>

                (Sep 17) SPARC Lab is collaborating with and supported by SMART Films Consortium, Purdue University to develop ULP Sensor Nodes.

            </div>
            <div>

                (Jul 17) We presented the world's first demonstration of Inter-Human Information exchange among Smartwatches during Handshaking using HBC: ISLPED 17

                (Jul 17) Our work on Staged Inference using Conditional Deep Learning enables Real-Time Health Diagnosis on a Wearable Hub: EMBC 17 (with NRL, Purdue)

                (Jul 17) Our work on Intelligent Context-Aware IoT Sensor Node is online: TCAS1 (with ICSRL, Georgia Tech)

            </div>
            <div>

                (Mar 17) SparcLab  research is supported by National Science Foundation SaTC program.
                (Summer: May-Aug 17) Multiple research/invited presentations at DATE, EMBC, ISLPED, HOST, AFOSR, SRC, ETS, VTS.

                (May 17) Our work on High-efficiency Power Side-Channel Attack Immunity received Best Paper Award (student) at premier Hardware Security Conference HOST 2017. Congratulations to Debayan and co-authors at Purdue, Georgia Tech and Intel Labs. HOST Announcement, Purdue Spotlight, Georgia Tech News

            </div>
            <div>


                (Apr 17) Two papers on Wearable Health Monitoring accepted in IEEE Engineering in Medicine and Biology Conference (EMBC). Congratulations to Shovan, Maryam (NRL) and co-authors.

            </div>
            <div>

                (Mar 17) Prof. Sen is awarded the National Science Foundation NSF CRII Award to work on Implantables. ECE Spotlight, Purdue FB

            </div>
            <div>

                (Mar 16) Prof. Sen proposes to develop a new Undergraduate course (ECE 395) on Design of Analog and Digital Circuits to bridge a gap in the VLSI undergraduate curriculum. Approved by Undergraduate Committee.

            </div>
            <div>

                (Feb 17) Prof. Sen wins the Google FRA Award to work on Secure Human Computer Interaction using HBC. Recipient List, ECE Spotlight, Purdue FB.


                (Feb 17) HOST paper accepted on Power Side-Channel Attack Immunity (Security). Congratulations to Debayan and co-authors.

            </div>
            <div>

                (Jan 17) IMS paper accepted on Self-Optimizing IoT Sensor Node (with Georgia Tech ICSRL). Congratulations to Ningyuan and co-authors.

            </div>
            <div>

                (Dec 16) Prof. Sen joins the Technical Program Committee of IEEE International Mixed-Signal Testing Workshop (IMSTW).

                (Dec 16) Prof. Sen joins the Technical Program Committee of IEEE/ACM International Conference on Computer-Aided Design (ICCAD).

            </div>
            <div>

                (Nov 16) DATE paper accepted on Interference-Robust Human Body Communication. Congratulations to Shovan and co-authors.

            </div>
            <div>

                (Oct 16) Prof. Sen speaks at Invited Tutorial in IEEE Sensors 2016 on Context-Aware IoT Sensor Nodes.
                http://ieee-sensors2016.org/

                (Oct 16) Prof. Sen wins the AFOSR YIP 2017 Award to work on Human Body Communication. ECE Spotlight, Purdue FB

                (Oct 16) SparcLab is awarded an SRC Contract (with Georgia Tech) to work on IoT Sensor Nodes.

            </div>
            <div>

                (Sep 16) Prof. Sen delivers Invited Talk in US-Korea Forum on NanoTechnology on Neuromorphic Computing in CMOS.

                (Sep 16) Prof. Sen proposes to develop a new Graduate course (ECE 695) High-Speed Mixed-Signal IC to bridge a gap in the VLSI graduate curriculum. Approved by Graduate Committee.

            </div>
            <div>

                (Aug 16) Paper published in IEEE Journal of Solid State Circuits (JSSC 2016) on Proximity Communication demonstrating world's fastest and most energy-efficient board-to-board capacitive communication link.
                Image result for journal of solid state circuits

                (Aug 16) SparcLab welcomes 3 new Ph.D. students. Gregory Chang, Debayan Das, and Shovan Maity.

            </div>
            <div>

                (Jul 16) Undergraduate student researcher Xinyi Jiang publishes first-authored research paper and attends NAECON

                (Jun 16) Prof. Sen is serving on IEEE Technical Committee on Cyber-Physical Systems (CPS)

                (Jun 16) Prof. Sen speaks at Invited Talk in DAC 2016 on Context-Aware Communication for IoT
                https://dac.com/
                (Jun 16) ESSCIRC paper accepted on Hybrid Mixed-Signal Switched Mode LDO (with Georgia Tech ICSRL). Congratulations to Saad.

            </div>
            <div>

                (May 16) Prof. Sen is serving on the Technical Program Committee of DATE 2017

            </div>
            <div>

                (Apr 16) SparcLab's first paper on Human Body Communication is accepted in ISLPED 2016.

                (Apr 16) Prof. Sen is serving as Publicity Chair for IEEE ETS' 17

            </div>
            <div>

                (Feb 16) Paper presented in ISSCC 2016 on Proximity Comm. (23.2) demonstrating world's fastest and most energy-efficient board-to-board capacitive communication link.

                http://submissions.mirasmart.com/ISSCC2016/PDF/ISSCC2016AdvanceProgram.pdf


                (Feb 16) Welcome to two ECE undergraduate Sophomore students to SparcLab. Xinyi Jiang and Kavian Mojabe.

            </div>
            <div>
                (Jan 16) Prof. Sen is serving on Editorial board of IEEE Design and Test
                http://ieee-cas.org/publications/d-t-magazine

                (Jan 16) Prof. Sen is teaching a large undergraduate course (>250 students): ECE 270: Introduction to Digital Systems.

                (Jan 16) SparcLab is founded by Prof. Shreyas Sen, who joins ECE, Purdue after 5+ years of industry experience at  Circuit Research Lab (CRL) and Wireless Communication Research (WCR), Intel Labs,  Qualcomm and Rambus. Prof. Sen received his PhD. from ECE, Georgia Tech in 2011.

            </div>


        </div>
        -->
    </div>

{% endblock %}