{% extends "Radiosim/base.html" %}
{% block title %} News {% endblock %}
{% block head %}
    {{block.super}}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footersilder.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{#    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>#}
{#    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>#}
    <!------ Include the above in your HEAD tag ---------->
    <script>
        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'js/footersilder.js' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
{#<div class="jumbotron">#}
{#    <p> This is underdevelopment page</p>#}
{#</div>#}
    <div style="max-width: 80%; margin: 0 auto; padding: 10px">
        {#        <div class="row featurette">#}
        {#            <div class="col-md-7">#}
        <h2 class="accent">Solutions to Cyber Attacks reported by The U.S. Department of Homeland Security <span class="text-muted">(Mar-May 19)</span></h2>
        <p class="lead"> The <a href="https://www.us-cert.gov/ics/advisories/ICSMA-19-080-01" target="_blank">U.S. Department of Homeland Security</a> recently
            <a href="https://www.us-cert.gov/ics/advisories/ICSMA-19-080-01" target="_blank">warned</a> that numerous medical devices made by Medtronic are vulnerable to cyber attacks.
            A solution to which is the <a href="https://www.nature.com/articles/s41598-018-38303-x" target="_blank">EQS-HBC </a> recently published by our group. IEEE Spectrum covered our work saying "Medtronic discloses medical device vulnerabilities,
            while Purdue University scientists propose countermeasure to block attacks". <a href="https://spectrum.ieee.org/the-human-os/biomedical/devices/thwart-cyber-attacks-on-implanted-medical-devices" target="_blank">IEEE Spectrum Article.</a></p>
        {#            </div>#}
        {#            <div class="col-md-5">#}
        {#        <div class="img"><img src="{% static "img/news/DHS advisory.png" %}" alt="Lights" ></div>#}
{#        <div class="flex-container">#}
{#            <div> <img src="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" class="rounded float-left" alt="..."></div>#}
{#            <div> <img src="{% static "img/news/DHS advisory.png" %}" class="rounded mx-auto d-block" alt="..."></div>#}
{#            <div> <img src="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" class="rounded float-right" alt="..."></div>#}
{#        </div>#}
            <div class="row">
                <a href="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" class="img-fluid rounded">
                </a>
                <a href="{% static "img/news/DHS advisory.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/news/DHS advisory.png" %}" class="img-fluid rounded">
                </a>
                <a href="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" class="img-fluid rounded">
                </a>
            </div>
{#            <div class="row">#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">#}
{#                </a>#}
{#            </div>#}


        {#           </div>#}
        {#        </div>#}


{#        <div class="container-fluid marketing">#}

        {#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent">Best Student Paper Award at HOST 2019 <span class="text-muted">(May 19)</span></h2>
        <p class="lead">Congratulations Debayan and co-authors. <a href="https://engineering.purdue.edu/ECE/News/2019/host-best-paper" target="_blank"> Purdue News Release</a>. </p>
        <p class="lead"> This work presents a white-box model for electromagnetic signal leakage and low-overhead countermeasure for EM Side-Channel Attack.
            <a href="https://eprint.iacr.org/2018/620" target="_blank">Paper Link </a> </p>
        <p class="lead">This is also the third succesive year that SparcLab has received Best paper/poster Award at HOST (2017, 2018 and 2019). Congratulations to all the co-authors for this
            series of fantastic work on IoT Security over past 3 years. Also, a big Thank You to our collaborators from Intel, especially Santosh Ghosh, the whole
            <a href="https://www.linkedin.com/company/intel-labs" target="_blank"> Intel Labs </a> team, Arijit Raychowdhury
            and <a href="https://www.linkedin.com/company/national-science-foundation" target="_blank">National Science Foundation (NSF) </a>
        for the constant support, funding, and encouragement. </p>
        {#                </div>#}
        {#         width=450 height=250       <div class="col-md-5 order-md-1">#}
          <div class="row">
                <a href="{% static "img/news/host1_2019.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                   <img src="{% static "img/news/host1_2019.jpg" %}" class="img-fluid rounded">
                </a>
              <a href="{% static "img/news/host2_2019 (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/host2_2019 (Small).png" %}" class="img-fluid rounded">
              </a>
          </div>

        {#                </div>#}
        {#            </div>#}


{#            <div class="row featurette">#}
        {#                <div class="col-md-7">#}
        <h2 class="accent">Best Paper Award (Overall) in CICC 2019 <span class="text-muted"> (Apr 19) </span></h2>
        <p class="lead">Congratulations Baibhab, Shovan, Prof. Dimitrios Peroulis' team, and our LANDAUER collaborators Daniel J. Valentino and Sean M. Scott on this award. <a href="https://engineering.purdue.edu/ECE/News/2019/chatterjee-best-paper" target="_blank"> Purdue News Release</a>. </p>
        <p class="lead">The paper presented the first monolithic CMOS radiation to digital converter, which consists of a floating-gate radiation sensor and a time-based resistance-to-digital-converter (RDC). Great industry-academia collaboration. Thank you all!
            <a href="http://ieee-cicc.org/cicc-news/cicc-2019-award-winners/" target="_blank"> CICC Award Announcement </a> </p>
        <div class="row">
            <a href="{% static "img/news/CICC_2019 (Small).jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/CICC_2019 (Small).jpg" %}" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/Shreyas_Sen_CICC_Best_Paper_2019_Monolithic_Radiation_Dosimeter_Time_Based_Sensing (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-8">
                <img src="{% static "img/news/Shreyas_Sen_CICC_Best_Paper_2019_Monolithic_Radiation_Dosimeter_Time_Based_Sensing (Small).png" %}" class="img-fluid rounded">
            </a>
        </div>



{#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent"><a href="https://www.nature.com/articles/s41598-018-38303-x">Security of Internet of Body</a> <span class="text-muted"> (Mar 19)</span></h2>
        <p class="lead">Our work on EQS-HBC is covered by 50+ news sites. More details here. This paper in Scientific Reports (Nature) demonstrated Physical Security of HBC for the first time. Congratulations Debayan and co-authors.:w
        </p>

        <div class="row">
            <a href="{% static "img/news/EQS_HBC (Small).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="{% static "img/news/EQS_HBC (Small).png" %}" class="img-fluid rounded">
            </a>
        </div>


{#            <div class="row featurette">#}
        <h2 class="accent">Paper accepted in DAC 19 and CICC 19 <span class="text-muted">(Jan 19)</span></h2>
        <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>
        {#            </div>#}

        {#            <div class="row featurette">#}
        {#                <div class="col-md-7 order-md-2">#}
        <h2 class="accent"> HKN Beta Chapter 'Outstanding Professor Award<span class="text-muted">(Dec 19)</span></h2>
        <p class="lead">
            Prof. Sen is recognized with the HKN Beta Chapter 'Outstanding Professor Award' and Purdue EVPRP Acorn Award
        </p>
         <div class="row">
            <a href="{% static "img/news/HKN_F18_Sen.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/HKN_F18_Sen.jpg" %}" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/Shreyas_Sen_Award_Fall_2018.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/news/Shreyas_Sen_Award_Fall_2018.jpg" %}" class="img-fluid rounded">
            </a>
        </div>




        <h2 class="accent"><a href="https://www.landauer.com/">Landauer</a> supports SPARC Lab Research on Efficient BioSensing <span class="text-muted">(Dec 18)</span></h2>

        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/logo/landauer_416x416.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/logo/landauer_416x416.jpg" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> CTSI supports Sparc Lab researh on Biomedical Devices <span class="text-muted">(Nov 18)</span></h2>
         <div class="row">
            <a href="{% static "img/news/cropped-ctsi-logo-horizontal.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/news/cropped-ctsi-logo-horizontal.png" %}" class="img-fluid rounded">
            </a>
        </div>



        <h2 class="accent"> Intel Corporation supports SPARC Lab Research <span class="text-muted"> (Oct 18)</span></h2>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/logo/printlogo.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
               <img src="{% static "img/logo/printlogo.png" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent"> SPARC Lab is supported by <a href="https://www.purdue.edu/discoverypark/birck/research/smart-films.php" target="_blank">SMART Films Consortium</a>, Purdue University to develop ULP Sensor Nodes <span class="text-muted">(Aug 18)</span></h2>
        <div class="row">
            <a href="{% static "img/news/smartfilms.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/smartfilms.jpg" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent">SPARC Lab is going to lead and perform on the DARPA MIDAS program to design mm-wave oscillators. <span class="text-muted">(Jul 18)</span></h2>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
        <div class="row">
            <a href="{% static "img/news/DARPA_logo_(current).png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/DARPA_logo_(current).png" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> SPARC Lab is part of a <a href="https://www.purdue.edu/newsroom/releases/2017/Q3/lilly-and-purdue-university-announce-strategic-research-collaboration.html" target="_blank">$52m grant</a> from Eli Lilly and Company to explore Securely Connected BioMedical Devices.
            <a href="https://www.usnews.com/news/best-states/indiana/articles/2017-07-06/eli-lilly-to-fund-up-to-52m-in-purdue-life-science-research" target="_blank">USNews Report.</a> <span class="text-muted">(Jun 18)</span></h2>

        <div class="row">
            <a href="{% static "img/news/1200px-Eli_Lilly_and_Company.svg.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/1200px-Eli_Lilly_and_Company.svg.png" %}" class="img-fluid rounded">
            </a>
        </div>



        <h2 class="accent">AFRL 2030 Targets <span class="text-muted">(May 18)</span> </h2>
        <p class="lead">Prof. Sen was invited to speak at <a href="https://afresearchlab.com/" target="_blank">IU-AFRL 2030</a>, that aims to help define the Science and Technology vision for 2030. Discussions with
            <a href="https://www.af.mil/About-Us/Biographies/Display/Article/579032/brigadier-general-william-t-bill-cooley/" target="_blank">Major General Bill Cooley</a>, Commander of Air Force Research Laboratory, during this event was really inspiring.
           </p>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
        <div class="row">
            <a href="{% static "img/news/IU_AFRL_2030e1f7.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                 <img src="{% static "img/news/IU_AFRL_2030e1f7.jpg" %}" class="img-fluid rounded">
            </a>
        </div>

        <h2 class="accent"> Best Poster Award in HOST 2018 <span class="text-muted">(May 18)</span></h2>
        <p class="lead">Congratulations Baibhab and co-authors. <a href="https://engineering.purdue.edu/ECE/News/2019/host-best-paper" target="_blank"> Purdue News Release</a>. </p>
        <p class="lead">Baibhab Chatterjee and co-authors received 3rd Best Poster Award for paper titled "RF-PUF: IoT Security Enhancement through Authentication of Wireless Nodes using In-situ Machine Learning," at premier <b>Hardware Security</b> Conference
            <a href="http://www.hostsymposium.org/host_2018awards.php">HOST 2018</a>. This work shows how <b>In-situ Machine Learning could Secure Radio Communication.</b> </p>
         <div class="row">
            <a href="{% static "img/news/Baibhab_Shreyas_HOST_17_RF_PUF (Small).jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/Baibhab_Shreyas_HOST_17_RF_PUF (Small).jpg" %}" class="img-fluid rounded">
            </a>
        </div>


        <h2 class="accent">MIT TR35 India Award <span class="text-muted">(May 18)</span> </h2>
        <p class="lead">Prof. Sen has been named one of India’s top innovators under 35 by MIT Technology Review and Mint.
            <a href="https://www.livemint.com/Industry/QwmwtJkbUYtTXAzTO5OTVL/Indias-top-innovators-under-35.html"> Mint Newspaper </a>,
            <a href="https://engineering.purdue.edu/ECE">Purdue News Release </a></p>
        {#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
         <div class="row">
            <a href="{% static "img/news/tr35_in_logo_x350.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                  <img src="{% static "img/news/tr35_in_logo_x350.png" %}" class="img-fluid rounded">
            </a>
        </div>

           <div>
               <h2 class="accent">  Paper accepted in HOST 18 <span class="text-muted">(Jan 18)</span> </h2>
               <p class="lead"> We are going to present a RF-PUF for IoT Security Enhancement using Machine Learning in Radio baseband.
                   Congratulations Baibhab and co-authors. </p>
           </div>
            <div>
               <h2 class="accent"> Paper accepted in in Microwave and Wireless Component Letters (MWCL) <span class="text-muted">(Jan 18)</span> </h2>
                <p class="lead">highlighting new insights into HBC Channel Models. Congratulations Shovan and co-authors.
                   Title: Characterization of Human Body Forward Path Loss and Variability Effects in Voltage-Mode HBC. </p>
            </div>
            <div>
                <h2 class="accent">Paper accepted in CICC 18 <span class="text-muted">(Jan 18)</span></h2>
                <p class="lead">demonstrating World's Lowest Energy HBC Transceiver, improving the state-of-the-art by 18X. Congratulations Shovan and co-authors.
                    Title: A 6.3pJ/b 30Mbps -30dB SIR-tolerant Broadband Interference-Robust Human Body Communication Transceiver using Time Domain Signal-Interference Separation.  </p>
            </div>

            <div>
                <h2 class="accent">Radio Interview on HBC: NPR <span class="text-muted"> (Dec 17) </span></h2>
                <p class="lead">subsidiary <a href="https://www.lakeshorepublicradio.org/post/researchers-use-human-body-communication-network#stream/0">Lakeshore Public Radio</a>  published excerpts of Radio Interview on Purdue Human Body Communication Technology.
                    <a href="https://www.lakeshorepublicradio.org/post/researchers-use-human-body-communication-network#stream/0">Listen Here.</a></p>
            </div>

            <div>
                <p class="lead"> <span class="text-muted"> (Dec 17) </span>  Our work on <a href="https://www.purdue.edu/newsroom/releases/2017/Q4/purdue-discovery-clears-way-for-human-body-to-work-as-robust-communication-network-for-electronic-devices.html"> Broadband Interference-robust Human Body Communication </a> was featured by 30+ news sites in USA, UK, Greece, India.
                    We sincerely thank our sponsors <a href="https://www.wpafb.af.mil/News/Article-Display/Article/969772/afosr-awards-grants-to-58-scientists-and-engineers-through-its-young-investigat/">AFOSR YIP</a>, <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1657455">NSF CRII Award</a> and <a href="https://ai.googleblog.com/2017/02/google-research-awards-2016.html">Google FRA</a> for supporting this research spanning from basic research to applications.</p>
            </div>

            <div>
                <p class="lead">"Purdue discovery clears way for human body to work as robust communication network for electronic devices" </p>
                <div class="customer-logos slider">
                    <div class="slide">
                        <a href="https://www.globenewswire.com/news-release/2017/12/14/1262163/0/en/Purdue-discovery-clears-way-for-human-body-to-work-as-robust-communication-network-for-electronic-devices.html">
                            <img src="{% static "img/news/logo/5a1dde2adbd8fe0001202701_nasdaq-globenewswire-620x150.png" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.purdue.edu/newsroom/releases/2017/Q4/purdue-discovery-clears-way-for-human-body-to-work-as-robust-communication-network-for-electronic-devices.html">
                            <img src="{% static "img/news/logo/59021e31b695f.image.gif" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="http://www.ecnmag.com/discovery-clears-way-for-human-body-to-work-as-robust-communication-network-for-electronic-devices/">
                            <img src="{% static "img/news/logo/ecnmag.jpg" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://markets.businessinsider.com/news/stocks/purdue-discovery-clears-way-for-human-body-to-work-as-robust-communication-network-for-electronic-devices-1011409883">
                            <img src="{% static "img/news/logo/og-image-logo-social.png" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://phys.org/news/2017-12-discovery-human-body-robust-network.html">
                            <img src="{% static "img/news/logo/PhysOrg.png" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.theengineer.co.uk/human-body-communication-electronics/">
                            <img src="{% static "img/news/logo/theengineer.png" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <img src="{% static "img/news/logo/timestech-new-logo.png" %}">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://article.wn.com/view/2017/12/13/Purdue_discovery_clears_way_for_human_body_to_work_as_robust/">
                            <img src="{% static "img/news/logo/wnlogo.png" %}">
                        </a>
                    </div>
                </div>
            </div>

        <div>
            <h2 class="lead accent"><a href="https://www.landauer.com/" target="_blank">Landauer</a> supports SPARC Lab Research on Efficient BioSensing<span class="text-muted">(Dec 17)</span> </h2>
        </div>
        <div class="row">
            <a href="{% static "img/logo/landauer_416x416.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/logo/landauer_416x416.jpg" %}" class="img-fluid rounded">
            </a>
        </div>
        <div>

            <h2 class="lead"><a href="https://ieeexplore.ieee.org/document/8119722" target="_blank">Paper</a> published in IEEE Journal of Solid State Circuits (JSSC 2017) on Switched-Mode Control Hybrid LDO  (with ICSRL, Georgia Tech)<span class="text-muted"> (Nov 17) </span> </h2>
            <div class="row">
                <a href="{% static "img/logo/MTUwNTQ5.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/MTUwNTQ5.jpg" %}" class="img-fluid rounded">
                </a>
            </div>
        </div>
        <div>
            <h2 class="lead">Dr. Sen is now a Senior Member of IEEE. <span class="text-muted">(Oct 17)</span></h2>
            <h2 class="lead">Intel Corporation supports SPARC Lab Research <span class="text-muted"> (Oct 17) </span></h2>
        </div>
        <div class="row">
            <a href="{% static "img/logo/printlogo.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/logo/printlogo.png" %}" class="img-fluid rounded">
            </a>
        </div>
        <div>
            <h2 class="lead">SPARC Lab is collaborating with and supported by <a href="https://www.purdue.edu/discoverypark/birck/research/smart-films.php">SMART Films Consortium</a>, Purdue University to develop ULP Sensor Nodes. <span class="text-muted">(Sep 17)</span></h2>

        </div>
        <div class="row">
            <a href="{% static "img/news/smartfilms.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/smartfilms.jpg" %}" class="img-fluid rounded">
            </a>
        </div>
        <div>

            <h2 class="lead">We presented the world's first demonstration of Inter-Human Information exchange among Smartwatches during Handshaking using HBC:
                <a href="https://ieeexplore.ieee.org/document/8009190" target="_blank"> ISLPED 17</a> <span class="text-muted">(Jul 17)</span></h2>

            <h2 class="lead">Our work on Staged Inference using Conditional Deep Learning enables Real-Time Health Diagnosis on a Wearable Hub:
                <a href="https://ieeexplore.ieee.org/document/8036767" target="_blank">EMBC 17</a> (with NRL, Purdue) <span class="text-muted">(Jul 17)</span></h2>
            <h2 class="lead">Our work on Intelligent Context-Aware IoT Sensor Node is online: <a href="https://ieeexplore.ieee.org/document/7971936">TCAS1 </a> (with ICSRL, Georgia Tech)<span class="text-muted">(Jul 17)</span></h2>
        </div>

        <div>

            <h2 class="lead accent">SparcLab  research is supported by National Science Foundation SaTC program.<span class="text-muted">(Mar 17)</span></h2>
        </div>
        <div class="row">
            <a href="{% static "img/logo/nsf1vf852.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/logo/nsf1vf852.jpg" %}" class="img-fluid rounded">
            </a>
        </div>
        <p>(Summer: May-Aug 17) Multiple research/invited presentations at DATE, EMBC, ISLPED, HOST, AFOSR, SRC, ETS, VTS. </p>

        <div>
          <p class="lead"> Our work on High-efficiency Power Side-Channel Attack Immunity received Best Paper Award (student) at premier Hardware Security Conference
              <a href="http://www.hostsymposium.org/" target="_blank">HOST 2017</a>.
              Congratulations to Debayan and co-authors at Purdue, Georgia Tech and Intel Labs. <a href="http://www.hostsymposium.org/">HOST Announcement</a>,
              <a href="https://engineering.purdue.edu/ECE">Purdue Spotlight</a>, <a href="https://www.ece.gatech.edu/news/591629/nasir-tapped-ieee-host-best-student-paper-award">Georgia Tech News</a> <span class="text-muted">(May 17)</span> </p>
        </div>
        <div class="row">
            <a href="{% static "img/news/Award_2fb81.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/Award_2fb81.jpg" %}" width="100%" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/HOST_Award3 - smallfb81.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/HOST_Award3 - smallfb81.jpg" %}" class="img-fluid rounded">
            </a>
        </div>
        <div>
            <p class="lead">Two papers on Wearable Health Monitoring accepted in IEEE Engineering in Medicine and Biology Conference (EMBC). Congratulations to Shovan, Maryam (NRL)
                and co-authors.<span class="text-muted">(Apr 17)</span></p>
        </div>
        <div>
            <p class="lead accent">Prof. Sen is awarded the National Science Foundation <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1657455" target="_blank">NSF CRII Award </a> to work on Implantables.
                <a href="https://engineering.purdue.edu/ECE">ECE Spotlight, </a><a href="https://www.facebook.com/purdueece/posts/1739285482765293">Purdue FB </a><span class="text-muted">(Mar 17)</span></p>
        </div>
        <div class="row">
            <a href="{% static "img/logo/nsf1vf852.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/logo/nsf1vf852.jpg" %}" class="img-fluid rounded">
            </a>
        </div>

        <div>
            <p class="lead">Prof. Sen proposes to develop a new Undergraduate course (ECE 395) on Design of Analog and Digital
                Circuits to bridge a gap in the VLSI undergraduate curriculum. Approved by Undergraduate Committee.<span class="text-muted">(Mar 16)</span></p>
        </div>
        <div>
            <p class="lead accent"> Prof. Sen wins the <a href="https://ai.googleblog.com/2017/02/google-research-awards-2016.html">Google FRA</a> Award to work on Secure Human Computer Interaction using HBC.
                <a href="http://services.google.com/fh/files/blogs/v2_final_list.pdf"> Recipient List,</a> <a
                        href="https://engineering.purdue.edu/ECE">ECE Spotlight,</a> <a href="https://www.facebook.com/purdueece/posts/1713124605381381">Purdue FB</a><span class="text-muted">(Feb 17)</span></p>
        </div>
         <div class="row">
            <a href="{% static "img/news/1200px-Google_2015_logo.svg.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/1200px-Google_2015_logo.svg.png" %}" width="100%" class="img-fluid rounded">
            </a>
            <a href="{% static "img/news/googlefaculty_award.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/news/googlefaculty_award.png" %}" class="img-fluid rounded">
            </a>
         </div>
        <div>
            <p class="lead">HOST paper accepted on Power Side-Channel Attack Immunity (Security). Congratulations to Debayan and co-authors.<span class="text-muted">(Feb 17)</span></p>
        </div>
        <div>
            <p class="lead">IMS paper accepted on Self-Optimizing IoT Sensor Node (with Georgia Tech ICSRL). Congratulations to Ningyuan and co-authors.<span class="text-muted">(Jan 17)</span></p>
        </div>
        <div class="row">
            <a href="{% static "img/logo/IMS-logo_0_web_075d1.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                <img src="{% static "img/logo/IMS-logo_0_web_075d1.jpg" %}" width="100%" class="img-fluid rounded">
            </a>
        </div>
        <div>

            <p class="lead ">Prof. Sen joins the Technical Program Committee of IEEE International Mixed-Signal Testing Workshop (IMSTW).<span class="text-muted">(Dec 16)</span></p>

            <p class="lead">Prof. Sen joins the Technical Program Committee of IEEE/ACM International Conference on Computer-Aided Design (ICCAD).<span class="text-muted">(Dec 16)</span></p>

        </div>
        <div>

            <p class="lead ">DATE paper accepted on Interference-Robust Human Body Communication. Congratulations to Shovan and co-authors.<span class="text-muted">(Nav 16)</span></p>
        </div>

        <div>

            <p class="lead ">Prof. Sen speaks at Invited Tutorial in <a href="https://ieee-sensors2016.org/">IEEE Sensors 2016</a> on Context-Aware IoT Sensor Nodes.<span class="text-muted">(Oct 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/sensors-2016_logo_v6_b-transparent.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/sensors-2016_logo_v6_b-transparent.png" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
            <p class="lead ">Prof. Sen wins the <a href="https://www.wpafb.af.mil/News/Article-Display/Article/969772/afosr-awards-grants-to-58-scientists-and-engineers-through-its-young-investigat/">
                AFOSR YIP 2017</a> Award to work on Human Body Communication. <a href="https://engineering.purdue.edu/ECE">ECE Spotlight,</a>
                <a href="https://www.facebook.com/purdueece/posts/1532061906820986"> Purdue FB </a>.<span class="text-muted">(Oct 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/b3bc6e49212072a7b2638c22511a7604_400x400f852f852.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/b3bc6e49212072a7b2638c22511a7604_400x400f852f852.jpg" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
            <p class="lead accent"> SparcLab is awarded an <a href="https://www.src.org/compete/s201608/">SRC Contract</a> (with Georgia Tech) to work on IoT Sensor Nodes.<span class="text-muted">(Oct 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/src-logo-print.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/src-logo-print.png" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
        </div>
        <div>

            <p class="lead ">Prof. Sen delivers Invited Talk in <a href="https://www.cmu.edu/nanotechnology-forum/Forum_13/Program.htm"> US-Korea Forum on NanoTechnology</a> on Neuromorphic Computing in CMOS.<span class="text-muted">(Sep 16)</span></p>

            <p class="lead ">Prof. Sen proposes to develop a <b>new Graduate course (ECE 695) High-Speed Mixed-Signal IC </b> to bridge a gap in the VLSI graduate curriculum. Approved by Graduate Committee.<span class="text-muted">(Sep 16)</span></p>

        </div>
        <div>

            <p class="lead ">Paper published in IEEE Journal of Solid State Circuits (JSSC 2016) on Proximity Communication demonstrating world's fastest and most energy-efficient board-to-board capacitive communication link.<span class="text-muted">(Aug 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/MTUwNTQ5.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/MTUwNTQ5.jpg" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
            <p class="lead ">SparcLab welcomes 3 new Ph.D. students. Gregory Chang, Debayan Das, and Shovan Maity.<span class="text-muted">(Aug 16)</span></p>

        </div>
        <div>

            <p class="lead ">Undergraduate student researcher Xinyi Jiang publishes first-authored research paper and attends NAECON.<span class="text-muted">(Jul 16)</span></p>

            <p class="lead ">Prof. Sen is serving on <a href="http://www.ieee-cps.org/member.html">IEEE Technical Committee </a> on Cyber-Physical Systems (CPS).<span class="text-muted">(Jun 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/bar-tccps.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/bar-tccps.jpg" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
            <p class="lead ">Prof. Sen speaks at Invited Talk in <a href="https://dac.com/">DAC 2016</a> on Context-Aware Communication for IoT.<span class="text-muted">(Jun 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/dac_logo_generic_lg13a6.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/dac_logo_generic_lg13a6.png" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>

            <p class="lead ">ESSCIRC paper accepted on Hybrid Mixed-Signal Switched Mode LDO (with Georgia Tech ICSRL). Congratulations to Saad.<span class="text-muted">(Jun 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/essderc-esscirc_front_pagea219.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/essderc-esscirc_front_pagea219.png" %}" width="100%" class="img-fluid rounded">
                </a>
            </div>

        </div>
        <div>

            <p class="lead ">Prof. Sen is serving on the Technical Program Committee of DATE 2017.<span class="text-muted">(May 16)</span></p>

        </div>
        <div>

            <p class="lead "> SparcLab's first paper on Human Body Communication is accepted in ISLPED 2016.<span class="text-muted">(Apr 16)</span></p>

            <p class="lead ">Prof. Sen is serving as Publicity Chair for <a href="http://www.ets17.org.cy/">IEEE ETS' 17.</a><span class="text-muted">(Apr 16)</span></p>

        </div>
        <div>

            <p class="lead "> Paper presented in <a href="http://submissions.mirasmart.com/ISSCC2016/PDF/ISSCC2016AdvanceProgram.pdf">ISSCC 2016</a> on Proximity Comm.
                (23.2) demonstrating world's fastest and most energy-efficient board-to-board capacitive communication link.<span class="text-muted">(Feb 16)</span></p>

            <div class="row">
                <a href="{% static "img/logo/download48d5.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/download48d5.png " %}" width="100%" class="img-fluid rounded">
                </a>
            </div>

            <p class="lead ">Welcome to two ECE undergraduate Sophomore students to SparcLab. Xinyi Jiang and Kavian Mojabe.<span class="text-muted">(Feb 16)</span></p>

        </div>
        <div>
            <p class="lead ">Prof. Sen is serving on <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaHJleWFzd29yazF8Z3g6NGJiNDg4ZTI1YjljYWY0Mw">Editorial board</a> of
                <a href="http://ieee-cas.org/publications/d-t-magazine">IEEE Design and Test</a>.<span class="text-muted">(Jan 16)</span></p>
            <div class="row">
                <a href="{% static "img/logo/D&Tcab2.png" %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{% static "img/logo/D&Tcab2.png " %}" width="100%" class="img-fluid rounded">
                </a>
            </div>
            <p class="lead ">Prof. Sen is teaching a large undergraduate course (>250 students): ECE 270: Introduction to Digital Systems.<span class="text-muted">(Jan 16)</span></p>

            <p class="lead ">SparcLab is founded by Prof. Shreyas Sen, who joins ECE, Purdue after 5+ years of industry experience at  Circuit Research Lab (CRL) and Wireless Communication Research
                (WCR), Intel Labs,  Qualcomm and Rambus. Prof. Sen received his PhD. from ECE, Georgia Tech in 2011.<span class="text-muted"> (Jan 16)</span></p>

        </div>


    </div>

    {% block tail %}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    {% endblock %}
{% endblock %}