{% extends "Radiosim/base.html" %}
{% block title %} News {% endblock %}
{% load static %}
{% block content %}
{#<div class="jumbotron">#}
{#    <p> This is underdevelopment page</p>#}
{#</div>#}
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The U.S. Department of Homeland Security  <span class="text-muted">(Mar-May 19)</span></h2>
                <p class="lead"> recently warned that numerous medical devices made by Medtronic are vulnerable to cyber attack. A solution to which is the EQS-HBC recently published by our group. IEEE Spectrum covered our work saying "Medtronic discloses medical device vulnerabilities, while Purdue University scientists propose countermeasure to block attacks".  IEEE Spectrum Article.</p>
            </div>
            <div class="col-md-5">
                 <img src="{% static "img/news/DHS advisory.png" %}" alt="Lights" >
                <img src="{% static "img/news/IEEE_Spectrum (Small)976f.png" %}" alt="Lights" >
                <img src="{% static "img/news/Seal_of_the_United_States_Department_of_Homeland_Security.svg" %}" alt="Lights" >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Best Student Paper Award at HOST 2019. <span class="text-muted">(May 19)</span></h2>
                <p class="lead">Congratulations Debayan and co-authors. Purdue Announcement. This work presents a a white-box model for electromagnetic signal leakage and low-overhead countermeasure for EM Side-Channel Attack. Paper Link.
This is also the third succesive year that SparcLab has received Best paper/poster Award at HOST (2017, 2018 and 2019). Congratulations to all the co-authors for this series of fantastic work on IoT Security over past 3 years. Also, a big Thank You to our collaborators from Intel, especially Santosh Ghosh, the whole Intel Labs team, Arijit Raychowdhury and National Science Foundation (NSF)
                    for the constant support, funding, and encouragement. </p>
            </div>
            <div class="col-md-5 order-md-1">
                 <img src="{% static "img/news/host1_2019.jpg" %}" width=450 height=250 alt="Lights" >
                <img src="{% static "img/news/host2_2019 (Small).png" %}" width=450 height=250 alt="Lights" >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Best Paper Award (Ovearll) <span class="text-muted">in Apr 19 CICC 2019.</span></h2>
                <p class="lead">The paper presented the first monolithic CMOS radiation to digital converter, which consists of a floating-gate radiation sensor and a time-based resistance-to-digital-converter (RDC).
Congratulations to Baibhab Chatterjee, Shovan Maity, Prof. Dimitrios Peroulis' team, and our LANDAUER collaborators Daniel J. Valentino, Ph.D., and Sean Scott on this award. Great industry-academia collaboration. Thank you all!
Purdue News Release</p>
            </div>
            <div class="col-md-5">
               <img src="{% static "img/news/Shreyas_Sen_CICC_Best_Paper_2019_Monolithic_Radiation_Dosimeter_Time_Based_Sensing (Small).png" %}" width=450 height=200 alt="Lights" >
                <img src="{% static "img/news/CICC_2019 (Small).jpg" %}" width=450 height=250 alt="Lights" >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> Security of Internet of Body: <span class="text-muted"> Mar 19</span></h2>
                <p class="lead">Our work on EQS-HBC is covered by 50+ news sites. More details here. This paper in Scientific Reports (Nature) demonstrated Physical Security of HBC for the first time. Congratulations Debayan and co-authors.:w
                </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="{% static "img/news/EQS_HBC (Small).png" %}"  width="450" height="400"  alt="Lights" >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Paper accepted <span class="text-muted">in DAC 19 and CICC 19 Jan 19</span></h2>
                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>
            </div>
            <div class="col-md-5">
{#                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>#}
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> HKN Beta Chapter 'Outstanding Professor Award<span class="text-muted"> Dec 19</span></h2>
                <p class="lead">
                    Prof. Sen is recognized with the HKN Beta Chapter 'Outstanding Professor Award' and Purdue EVPRP Acorn Award
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{% static "img/news/HKN_F18_Sen.jpg" %}" width=450 height=250 alt="Lights" >
                <img src="{% static "img/news/Shreyas_Sen_Award_Fall_2018.jpg" %}" width=450 height=250 alt="Lights" >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Landauer supports SPARC Lab Research on Efficient BioSensing <span class="text-muted"> Dec 18</span></h2>
{#                <p class="lead">Congratulations Debayan and Baibhab and co-authors.</p>#}
            </div>
            <div class="col-md-5">
               <div class="slide"><img src="{% static "img/logo/landauer_416x416.jpg" %}"></div>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}