{% extends "Radiosim/base.html" %}
{% block title %} Team {% endblock %}
{% block head %}

{{  block.super}}
    {% load static %}
        <link rel="stylesheet" href="{% static 'bib-publication-list/build/bib-list-min.js' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'bib-publication-list/bib-publication-list.css' %}" type="text/css" />
{#        <link rel="stylesheet" href="{% static 'css/publication.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html" />#}

{% endblock %}
{% block content %}
<div class="jumbotron">
    <p> This is underdevelopment page</p>
</div>

{% endblock %}