{% extends "Radiosim/base.html" %}
{% block title %} Team {% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <br>
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                   Teaching
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-title">ECE 270: Introduction to Digital System Design </h2>
{#                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>#}

                    <p>Large Undergraduate Course ~250-300 students, single Section (4 credit hours) </p>
                    <hr>
                    <p>Course Website: <a href="https://engineering.purdue.edu/ece270/">Course Website:</a></p>
                    <blockquote>
                        <ol>
                            <li><strong>Spring 2016:</strong> Co-taught with <a href="https://engineering.purdue.edu/ECE/People/ptProfile?resource_id=2943">Prof. Dave Meyer</a> <strong>~240 students</strong></li>
                            <li><strong>Fall 2016:</strong> <strong>~270 students</strong></li>
                            <li><strong>Fall 2018:</strong> <strong>TBD</strong></li>
                            <li><strong>Fall 2017:</strong> <strong>~280 students</strong></li>
                            <li><strong>Prof. Sen Office Hours (Fall 2018)</strong> <em>Monday, Friday 1030-12AM, MSEE 226</em> </li>
                        </ol>
                    </blockquote>


                   <h2 class="blog-post-title">ECE 695: High-Speed Mixed-Signal IC </h2>
{#                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>#}

                    <p>New Graduate Course proposed and developed by Prof. Sen (3 credit hours) </p>
                    <hr>
                    <blockquote>
                        <ul>
                            <li>Focusing on <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaHJleWFzd29yazF8Z3g6M2U1ODE0NjZlNjIyN2U5Mg">Communication Circuits for IoT & 5G</a></li>
                            <li><strong>Course Flyer</strong> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaHJleWFzd29yazF8Z3g6M2U1ODE0NjZlNjIyN2U5Mg">Here</a></li>
                        </ul>
                        <ol>
                            <li> <strong>Spring 2017:</strong> <strong>1st offering</strong> </li>
                            <li> <strong>Spring 2018:</strong> <strong>2nd offering</strong> </li>
                        </ol>
                    </blockquote>


                   <h2 class="blog-post-title">Secure Design Lifecycle (Online Course) </h2>
{#                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>#}

                    <p>New Course developed by Prof. Sen  as a part of Intel-Purdue Design for Security Badge </p>
                    <hr>
                    <blockquote>
                        <ul>
                            <li>1 credit hour Online Course</li>
                            <li>Fall 2018: 1st offering</li>
                            <li>There is a new course being developed under the "Design for Security" Badge Program, a first Intel-Purdue collaboration of it's own kind. This will be a 1-credit course developed for completely online delivery.</li>
                            <li>The specific course is <a href="https://engineering.purdue.edu/ProEd/digital-badges/design-for-security">"Secure Design Life" </a> cycle.</li>
                            <li>"Design for Security" Badge Program"</li>
                            <li>More Details here: </li>
                        </ul>

                    </blockquote>

                    <a href="https://engineering.purdue.edu/ProEd/digital-badges/design-for-security"><h2 class="blog-post-title">CYBER SECURITY COURSES: DESIGN FOR SECURITY PROGRAM </h2></a>
                    <div>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/jKOzejmg2dE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div>
                        <a href="https://www.purdue.edu/newsroom/releases/2018/Q2/design-for-security-program-launched-by-purdue,-intel.html"><img src="{% static "img/chiang-intelLO.jpg" %}"></a>
                    </div>
                    

                </div><!-- /.blog-post -->



            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                   <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaHJleWFzd29yazF8Z3g6M2U1ODE0NjZlNjIyN2U5Mg"><img src="{% static "img/Course.png" %}"></a>
                </div>

            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}