{% extends "Radiosim/base.html" %}
{% block title %} Team {% endblock %}
{% block head %}
{{block.super}}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}" type="text/css">

{% endblock %}

{% block content %}
<div class="container marketing">
    <h3 class="featurette-heading">Post-Doctoral Candidates/Visiting Scholars </h3>
    <hr class="featurette-divider">
     <div class="row">
        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/AS.png" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Abhishek did his B.Tech in ECE (2004) from Madan Mohan Malaviya Engineering
                        College, Gorakhpur, M.Tech in VLSI and Embedded Systems (2007) from IIIT Hyderabad and Ph.D. in Electrical
                        Engineering (2018) from IIT Bombay, India. He is an Assistant Professor at IIIT Hyderabad and joined the SPARC lab in December 2018.
                        His research interests are in RF and analog ICs and systems for wireless sensor nodes based applications.</p>
                    <div  >
<!--                        class="caption">-->
                        <p>Abhishek Srivastava, MD. Email: srivas71@purdue.edu
                            Date: Dec 2018 - present Research Focus: mm-wave Digital Arrays</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/DD.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/GB.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="featurette-heading">PhD and Maters Thesis Students:</h3>

    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/AS.png" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/DD.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/GB.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/AS.png" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Abhishek did his B.Tech in ECE (2004) from Madan Mohan Malaviya Engineering
                        College, Gorakhpur, M.Tech in VLSI and Embedded Systems (2007) from IIIT Hyderabad and Ph.D. in Electrical
                        Engineering (2018) from IIT Bombay, India. He is an Assistant Professor at IIIT Hyderabad and joined the SPARC lab in December 2018.
                        His research interests are in RF and analog ICs and systems for wireless sensor nodes based applications.</p>
                    <div class="caption">
                        <p>Abhishek Srivastava, MD. Email: srivas71@purdue.edu
                            Date: Dec 2018 - present Research Focus: mm-wave Digital Arrays</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/DD.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/GB.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/AS.png" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/DD.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
                <div class = 'img__wrap'>
                <div class="thumbnail">
                    <img src="{% static "img/team/GB.jpg" %}" alt="Lights" width=350px height =350px >
                    <p class="img__description">Here is the image discription being shown</p>
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}