/* Custom Styling */
p{
    justify-self: normal;
    text-align:justify;
}
.row {
    margin: 15px;
}

/* accent mark*/
.accent {
    color: #FF0000;
}
.canvas{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}
@media only screen and (max-width: 995px) {
    .carousel-inner, .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .lead{
        text-align: left;
        font-size: small;
    }
    .featurette-heading, .accent,  h3, h2, h1 {
        font-size: 20px;
    }
    .display-4, h4{
        font-size: 25px;
    }
    .canvas{
        display:none;
    }
}
