/* Custom Styling */
p{
    justify-self: normal;
    text-align:justify;
}
.row {
    margin: 15px;
}

/* accent mark*/
.accent {
    color: #FF0000;
}

@media only screen and (max-width: 995px) {
    .carousel-inner{
        display: none;
    }
    p{
        text-align: left;
        font-size: inherit;
    }
}