<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="{% static 'css/styple.css' %}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        <script>
            .dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
        </script>
        <script>
            $('.dropdown-submenu > a').on("click", function(e) {
                var submenu = $(this);
                $('.dropdown-submenu .dropdown-menu').removeClass('show');
                submenu.next('.dropdown-menu').addClass('show');
                e.stopPropagation();
            });

            $('.dropdown').on("hidden.bs.dropdown", function() {
                // hide any open menus when parent closes
                $('.dropdown-menu.show').removeClass('show');
            });
        </script>
        {# jQuery hover()        #}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".dropdown, .btn-group").hover(function(){
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if(dropdownMenu.is(":visible")){
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });
        </script>
    {% endblock %}

</head>

<body>

{% block nav %}
    <div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
{#    bg-dark">#}
        <a class="navbar-brand" href="#">SPARC Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mx-auto">
                <!--      <li class="nav-item active">-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Home' %}">Home</a>
                    <!--          <span class="sr-only">(current)</span>-->
                    {#      </li>#}
                    {#       <li class="nav-item">#}
                    {#        <a class="nav-link" href="{% url 'SparcLab:Research' %}">Research</a>#}
                    {#      </li>#}
{#                <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="{% url 'SparcLab:Research' %}#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research Areas</a>#}
{#                <div class="dropdown-menu" aria-labelledby="dropdown01">#}
{##}
                    {#                    <div class="dropdown-menu">#}
{#                    <a class="dropdown-item" href="{% url 'SparcLab:Research' %}">High Speed IO</a>#}
{#                    <a class="dropdown-item" href="{% url 'SparcLab:Research' %}">Low-Power</a>#}
{#                    <a class="dropdown-item" href="{% url 'SparcLab:Research' %}">RF Test</a>#}
{#                    <a class="dropdown-item" href="{% url 'SparcLab:Research' %}">Species Identification</a>#}
                    {#                    </div>#}
{##}
{#                </div>#}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'SparcLab:Research' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research Areas</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'SparcLab:Research' %}">Ongoing Research Area</a></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="{% url 'SparcLab:High' %}">Completed Research Area</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'SparcLab:High' %}">High Speed IO</a></li>
                            <li><a class="dropdown-item" href="{% url 'SparcLab:Low' %}">Low-Power</a></li>
                            <li><a class="dropdown-item" href="{% url 'SparcLab:Rf' %}">RF Test</a></li>
                            <li><a class="dropdown-item" href="{% url 'SparcLab:Species' %}">Species Identification</a></li>
{#                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>#}
{#                                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>#}
{#                                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </li>
                </ul>

                <!--        dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Highlights</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'SparcLab:Media' %}">Media</a>
                        <a class="dropdown-item" href="{% url 'SparcLab:News' %}">News</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Award' %}">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Team' %}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Publications' %}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Teach' %}">Teaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Service' %}">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Chip' %}">Chip Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SparcLab:Open' %}">Openings</a>
                </li>
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Simulation</a>#}
{#                    <div class="dropdown-menu" aria-labelledby="dropdown01">#}
{#                        <a class="dropdown-item" href="{% url 'SparcLab:Hbc' %}">HBC</a>#}
{#                        <a class="dropdown-item" href="{% url 'SparcLab:Download' %}">Downloads</a>#}
{#                    </div>#}
{#                </li>#}
                <!--      <li class="nav-item">-->
                <!--        <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--      </li>-->

            </ul>
{#            <form class="form-inline my-2 my-lg-0">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}
        </div>
    </nav>
        <script>
            .navbar-nav li:hover > ul.dropdown-menu {
                display: block;
            }
            .dropdown-submenu {
                position:relative;
            }
            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top:-6px;
            }

            /* rotate caret on hover */
            .dropdown-menu > li > a:hover:after {
                text-decoration: underline;
                transform: rotate(-90deg);
            }

        </script>
    </div>
{% endblock %}
{#<div class="container">#}
{% block slider %}
   {% block content %}
       <!--contain goes here-->
   {% endblock %}
    <br>
{% endblock %}
{#</div>#}


{% block tail %}
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}

</body>
{% block footer %}
    <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="#">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://twitter.com/SPARCLab_Purdue">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1" href="#">
                    <i class="fab fa-google-plus-g"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/shreyassen/">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
{#            <li class="list-inline-item">#}
{#                <a class="btn-floating btn-dribbble mx-1" href="#">#}
{#                    <i class="fab fa-dribbble"> </i>#}
{#                </a>#}
{#            </li>#}
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->

    <div class="footer-copyright text-center py-3" style="color: whitesmoke">
        &copy; Copyright 2019 by
        <a href="{% url 'SparcLab:Home' %}">SPARC</a>
    </div>

    <!-- Copyright -->

</footer>
{#    <footer class="text-white mt-4">#}
{##}
{#        <div class="container-fluid py-3">#}
{#            <div class="row">#}
{#                <div class="col-md-4">#}
{#                    <p>#}
{#                    <h5>Social Media</h5></p>#}
{#                </div>#}
{##}
{#                <!--Twitter-->#}
                {#                                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>#}
                {#                                <!--Google +-->#}
                {#                                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>#}
                {#                                <!--Linkedin-->#}
                {#                                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>#}
{#                <div class="col-md-3"></div>#}
{#            </div>#}
{#            <div class="row">#}
                {#                                <div class="col-md-6">I stay at the bottom of the viewport! <span class="small"><br>Unless the page content pushes me further.</span></div>#}
{#                <div class="col-md-4">#}
{#                    <p>#}
{#                    <a type="button" href="#" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>#}
{#                    <a type="button" href="#" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>#}
{#                    <a type="button" href="https://twitter.com/SPARCLab_Purdue" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>#}
{#                    <a type="button" href="https://www.linkedin.com/in/shreyassen/" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>#}
{#                    </p>#}
{##}
{#                </div>#}
{#                <div class="col-md-4 text-right small align-self-end">#}
{#                    <p>#}
{#                        &copy; Copyright 2019 by <a href="https://engineering.purdue.edu/~shreyas/SparcLab/sparc-lab-people.html">SPARC</a>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="col-md-4 text-left small align-self-end">#}
{#                <p>#}
{#                    Design and Development by Kirubel Tadesse#}
{##}
{#                </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
{% endblock %}
</html>