<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-8 order-md-2">
                <h1 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="499" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
        <hr class="featurette-divider">
        -->

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
<div>
    {##}
        {#            <hr>#}
        {#            <h3 class="text-xs-center">Sample Video Gallery</h3>#}
        {#            <!-- Grid row -->#}
        {#            <div class="row">#}
        {##}
        {#                <!-- Grid column -->#}
        {#                <div class="col-lg-4 col-md-12 mb-4">#}
        {##}
        {#                    <!--Modal: Name-->#}
        {#                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#                        <div class="modal-dialog modal-lg" role="document">#}
        {##}
        {#                            <!--Content-->#}
        {#                            <div class="modal-content">#}
        {##}
        {#                                <!--Body-->#}
        {#                                <div class="modal-body mb-0 p-0">#}
        {##}
        {#                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">#}
        {#                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHqfT1vIe6E"#}
        {#                                                allowfullscreen></iframe>#}
        {#                                    </div>#}
        {##}
        {#                                </div>#}
        {##}
        {#                                <!--Footer-->#}
        {#                                <div class="modal-footer justify-content-center">#}
        {#                                    <span class="mr-4">Spread the word!</span>#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>#}
        {#                                    <!--Twitter-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>#}
        {#                                    <!--Google +-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>#}
        {#                                    <!--Linkedin-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>#}
        {##}
        {#                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>#}
        {##}
        {#                                </div>#}
        {##}
        {#                            </div>#}
        {#                            <!--/.Content-->#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <!--Modal: Name-->#}
        {##}
        {#                    <a><img class="img-fluid z-depth-1" src="https://img.youtube.com/vi/NHqfT1vIe6E/0.jpg" alt="video"#}
        {#                            data-toggle="modal" data-target="#modal1"></a>#}
        {##}
        {#                </div>#}
        {#                <!-- Grid column -->#}
        {##}
        {#                <!-- Grid column -->#}
        {#                <div class="col-lg-4 col-md-6 mb-4">#}
        {##}
        {#                    <!--Modal: Name-->#}
        {#                    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#                        <div class="modal-dialog modal-lg" role="document">#}
        {##}
        {#                            <!--Content-->#}
        {#                            <div class="modal-content">#}
        {##}
        {#                                <!--Body-->#}
        {#                                <div class="modal-body mb-0 p-0">#}
        {##}
        {#                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">#}
        {#                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHqfT1vIe6E"#}
        {#                                                allowfullscreen></iframe>#}
        {#                                    </div>#}
        {##}
        {#                                </div>#}
        {##}
        {#                                <!--Footer-->#}
        {#                                <div class="modal-footer justify-content-center">#}
        {#                                    <span class="mr-4">Spread the word!</span>#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>#}
        {#                                    <!--Twitter-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>#}
        {#                                    <!--Google +-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>#}
        {#                                    <!--Linkedin-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>#}
        {##}
        {#                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>#}
        {##}
        {#                                </div>#}
        {##}
        {#                            </div>#}
        {#                            <!--/.Content-->#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <!--Modal: Name-->#}
        {##}
        {#                    <a><img class="img-fluid z-depth-1" src="https://img.youtube.com/vi/NHqfT1vIe6E/0.jpg" alt="video"#}
        {#                            data-toggle="modal" data-target="#modal6"></a>#}
        {##}
        {#                </div>#}
        {#                <!-- Grid column -->#}
        {##}
        {#                <!-- Grid column -->#}
        {#                <div class="col-lg-4 col-md-6 mb-4">#}
        {##}
        {#                    <!--Modal: Name-->#}
        {#                    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#                        <div class="modal-dialog modal-lg" role="document">#}
        {##}
        {#                            <!--Content-->#}
        {#                            <div class="modal-content">#}
        {##}
        {#                                <!--Body-->#}
        {#                                <div class="modal-body mb-0 p-0">#}
        {##}
        {#                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">#}
        {#                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHqfT1vIe6E"#}
        {#                                                allowfullscreen></iframe>#}
        {#                                    </div>#}
        {##}
        {#                                </div>#}
        {##}
        {#                                <!--Footer-->#}
        {#                                <div class="modal-footer justify-content-center">#}
        {#                                    <span class="mr-4">Spread the word!</span>#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>#}
        {#                                    <!--Twitter-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>#}
        {#                                    <!--Google +-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>#}
        {#                                    <!--Linkedin-->#}
        {#                                    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>#}
        {##}
        {#                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>#}
        {##}
        {#                                </div>#}
        {##}
        {#                            </div>#}
        {#                            <!--/.Content-->#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <!--Modal: Name-->#}
        {##}
        {#                    <a><img class="img-fluid z-depth-1" src="https://img.youtube.com/vi/NHqfT1vIe6E/0.jpg" alt="video"#}
        {#                            data-toggle="modal" data-target="#modal4"></a>#}
        {##}
        {#                </div>#}
        {#                <!-- Grid column -->#}
        {##}
        {#            </div>#}
        {#            <!-- Grid row -->#}
        {#        </div>#}
        {#        <script>#}
        {#            $('#modal1').on('hidden.bs.modal', function (e) {#}
        {#                // do something...#}
        {#                $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));#}
        {#            });#}
        {##}
        {#            $('#modal6').on('hidden.bs.modal', function (e) {#}
        {#                // do something...#}
        {#                $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));#}
        {#            });#}
        {##}
        {#            $('#modal4').on('hidden.bs.modal', function (e) {#}
        {#                // do something...#}
        {#                $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));#}
        {#            });#}
        {#        </script>#}
</div>
        <div id="accordion">
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading2">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">#}
            {#                        Harideep Pradeep Kumar Nair (May 2016 - July 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Electromagnetically Secure ICs#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading2">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">#}
            {#                        Yuyang Wang  (May 2016 - June 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Human Body Communication#}
            {#                </div>#}
            {#            </adiv>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading4">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">#}
            {#                        Rafael Neiva da Cunha (May 2016 - July 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: BMIC Classifier#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading5">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">#}
            {#                        Antroy Roy Chowdhury (May 2019 - July 2019)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Low-Noise High-Speed Links#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading6">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">#}
            {#                        Parv Agarwal (May 2016 - July 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: RF-PUF#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading7">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">#}
            {#                        Chun Tao (May 2019 - July 2019)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Human Body Communication#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading8">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">#}
            {#                        Vignesh Ramachandran (May 2019 - July 2019)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Context-Aware Communication#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading9">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">#}
            {#                        Alfred Krister (May 2019 - July 2019)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Research Focus: Human Body Communication#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
        </div>
<div id="accordion">
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingfive">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">#}
            {#                        Tania Chakraborty (May 2017 - Aug 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: tchakrab@purdue.edu#}
            {#                    Research Focus: Human Body Communication Demo.#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingsix">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">#}
            {#                        Siddharth Inani (May 2017 - Aug 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Human Body Communication Demo.#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingSeven">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">#}
            {#                        David Yang (May 2017 - present)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: yang996@purdue.edu#}
            {#                    Research Focus: ULP IoT Transmitter#}
            {##}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingEight">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">#}
            {#                        Mingxuan He (May 2017 - present)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: he228@purdue.edu#}
            {#                    Research Focus: Human Body Communication Channel-Models#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingNine">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">#}
            {#                        Kavian Mojabe (Feb 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Human Body Communication Channel Measurements#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingTen">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">#}
            {#                        Shawn Nagar (May 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Electromagnetically Secure ICs#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingElven">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseElven" aria-expanded="false" aria-controls="collapseElven">#}
            {#                        Yousef Mahmoud Akbar (June 2016 - Dec 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseElven" class="collapse" aria-labelledby="headingElven" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Secure NFC#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingTwelve">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">#}
            {#                        Ribhav Agarwal (June 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: BMIC Classifier#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading1">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">#}
            {#                        Alek V patel (June 2016 - Aug 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Secure ICs#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
</div>
<div id="accordion">
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingfive">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">#}
            {#                        Tania Chakraborty (May 2017 - Aug 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {##}
            {#            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: tchakrab@purdue.edu#}
            {#                    Research Focus: Human Body Communication Demo.#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingsix">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">#}
            {#                        Siddharth Inani (May 2017 - Aug 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Human Body Communication Demo.#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingSeven">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">#}
            {#                        David Yang (May 2017 - present)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: yang996@purdue.edu#}
            {#                    Research Focus: ULP IoT Transmitter#}
            {##}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingEight">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">#}
            {#                        Mingxuan He (May 2017 - present)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email: he228@purdue.edu#}
            {#                    Research Focus: Human Body Communication Channel-Models#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingNine">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">#}
            {#                        Kavian Mojabe (Feb 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Human Body Communication Channel Measurements#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingTen">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">#}
            {#                        Shawn Nagar (May 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Electromagnetically Secure ICs#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingElven">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseElven" aria-expanded="false" aria-controls="collapseElven">#}
            {#                        Yousef Mahmoud Akbar (June 2016 - Dec 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseElven" class="collapse" aria-labelledby="headingElven" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Secure NFC#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="headingTwelve">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">#}
            {#                        Ribhav Agarwal (June 2016 - May 2017)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: BMIC Classifier#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="card">#}
            {#            <div class="card-header" id="heading1">#}
            {#                <h5 class="mb-0">#}
            {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">#}
            {#                        Alek V patel (June 2016 - Aug 2016)#}
            {#                    </button>#}
            {#                </h5>#}
            {#            </div>#}
            {#            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">#}
            {#                <div class="card-body">#}
            {#                    Email:#}
            {#                    Research Focus: Secure ICs#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
</div>
</body>
</html>