{% extends "SparcLab/base.html" %}
{% block title %} Team {% endblock %}
{% block head %}

    {{  block.super}}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bib-publication-list/build/bib-list-min.js' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'bib-publication-list/bib-publication-list.css' %}" type="text/css" />
    {#        <link rel="stylesheet" href="{% static 'css/publication.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html" />#}


{% endblock %}
{% block content %}
    <div style="max-width: 80%; margin: 0 auto; padding: 10px">
        <div class="container-fluid " style="margin-top:30px">
            <div class="row">
                <div class="col">

                    <h3 class="accent"> JOURNAL EDITORIAL BOARDS: </h3>
                    <lu>
                        <li> Associate Editor, IEEE Design and Test  (IEEE D&T), 2016-present</li>
                    </lu>
                    <h3 class="accent"> CONFERENCES: </h3>
                    <h4 class="accent">PANELIST:</h4>
                    <ul>
                        <li><b>"AI, Cognitive Information Processing, and Rebooting Computing"</b> in IEEE International Conference on Rebooting Computing <b>(ICRC 2017)</b></li>
                        <ul>
                            <li>
                                Co-Panelists: Stan Williams, HPE, Tom Conte, Georgia Tech, Trung Tran, Booz-Allen. Organizer: David Mountain, DoD
                            </li>
                        </ul>
                        <li><b>"Security Threats in the Analog / RF Domain: An Academic Perspective"</b> in TxACE Workshop on Secure and Trusted Analog/RF Systems <b>(TxACE STARS 2018)</b></li>
                        <ul>
                            <li>
                                Co-Panelists: Ioannis Savidis, Drexel University, Kaiyuan Yang, Rice University. Moderator: Swaroop Ghosh, Pennsylvania State University
                            </li>
                        </ul>
                    </ul>
        
                    <h4 class="accent">ORGANIZATION:</h4>
                    <ul>
                        <li><b>Special Session Organizer</b>, IEEE Custom Integrated Circuits Conference <b>(CICC 2018)</b>, “Forum: The Vanishing Boundary Between Digital and Analog”</li>
                        <li><b>Publicity Chair,</b> 22nd IEEE European Test Symposium <b>(ETS 2017)</b></li>
                        <li><b>Special Session Organizer</b>, ACM/IEEE Design Automation Conference (<b>DAC 2016</b>), “Enabling the Internet of Things: Context-Awareness in Sensing, Communication and Computing”</li>
                        <li><b>Special Session Organizer</b>, IEEE European Test Symposium 2017 (<b>ETS</b>), “Design and Test Needs for Adaptive, Self-Learning and Cognitive Systems”</li>
                        <li><b>Panel Organizer</b>, in IEEE International Test Conference 2014 (<b>ITC</b>), “Elevator talks on emerging test frontiers”</li>
                        <li><b>Special Session Organizer, IEEE Sensors</b> 2016, “Context-aware, ultra-low power, energy harvested IoT sensor nodes”</li>
                        <li>Special Session Organizer, IEEE International Mixed-Signals, Sensors and Systems Test Workshop (IMS3TW) 2016</li>
                    </ul>

                    <h4 class="accent">EXECUTIVE COMMITTEE MEMBER:</h4>
                    <ul>
                        <li>IEEE European Test Symposium (<b>ETS 2017</b>)</li>
                    </ul>
                    <h4 class="accent">TECHNICAL PROGRAM COMMITTEE</h4>
                    <ul>
                        <li>IEEE Custom Integrated Circuits Conference <b>(CICC 2019)</b></li>
                        <li>ACM/IEEE Design Automation Conference <b>(DAC 2018)</b></li>
                        <li>IEEE International Conference on Design, Automation and Test in Europe <b>(DATE 2017, 2018)</b></li>
                        <li>IEEE International Conference on Computer Aided Design <b>(ICCAD 2017, 2018)</b></li>
                        <li>IEEE European Test Symposium <b>(ETS 2017, 2018)</b></li>
                        <li>IEEE International Conference on VLSI Design <b>(VLSID 2013, 2014, 2015, 2017, 2018)</b></li>
                        <li>IEEE International Test Conference <b>(ITC 2014)</b></li>
                        <li>IEEE International Mixed-Signals Test Workshop (IMSTW 2017)</li>
                        <li>IEEE International Symposium on VLSI Design and Test 2014</li>
                        <li>IEEE International Workshop on Test and Validation of High Speed Analog Circuits (TVHAC 2013) held in conjunction with IEEE International Test Conference (ITC 2013)</li>
                    </ul>

                    <h4 class="accent">SESSION CHAIR:</h4>
                    <ul>
                        <li>ACM/IEEE Design Automation Conference (<b>DAC 2018</b>) for session “Arch Nemesis: Architectural Security”</li>
                        <li>IEEE International Symposium on Low Power Electronics and Design (<b>ISLPED 2017</b>) for session “Analog Circuit Design”</li>
                        <li>IEEE Engineering in Medicine and Biology Conference (<b> EMBC 2017</b>) for session “Models for Clinical Decision Support” – Co-chair</li>
                        <li>IEEE International Test Conference (<b>ITC 2014</b>) for session “Modeling and Measuring Complex Analog Behaviors” </li>
                        <li>ACM/IEEE Design Automation Conference (<b>DAC 2012</b>) for session “The Dark Side of Test”</li>
                        <li>ACM/IEEE Design Automation Conference (<b>DAC 2011</b>) for session “New Methods and Metrics in Test and Reliability”</li>
                        <li>Firing Line Expert in IEEE International Test Conference 2014 (<b>ITC 2014</b>) for session “"Fool" Nyquist, Fix Nonlinearity, Tolerate Jitter”</li>
                        <li>IEEE National Aerospace Electronics Conference (NAECON 2016) for session “Emerging Electronics and Microsystems” </li>
                    </ul>
                    <h4 class="accent">OTHER:</h4>
                    <ul>
                        <li>DAC Invited Special Session Speaker, ACM/IEEE Design Automation Conference (DAC 2016), “Context-Adaptive and Energy-Efficient Communication for IoT Sensor Nodes”</li>
                        <li>ICCAD Invited Special Session Speaker, in IEEE International Conference on Computer‑Aided Design 2014 (ICCAD 2014), “Adaptive Designs in Computing, Power Management and Communication for Low-Power Circuits and Systems with Ultra-Wide Dynamic Ranges”</li>
                        <li>Industry Support Group Member, IEEE International Mixed-Signal Testing Workshop (IMSTW) 2015.</li>
                        <li>Industry Liaison for Systems On Nanoscale Information fabriCs (SONIC), 2014-2015</li>
                    </ul>

                    <h4 class="accent">JOURNAL REVIEWS:</h4>
                    <ul>
                        <li>IEEE Journal of Solid State Circuits (JSSC)</li>
                        <li>IEEE Journal of Microwave Theory and Techniques (MTT)</li>
                        <li>IEEE Transaction on Circuits & Systems I (TCAS I)</li>
                        <li>IEEE Transaction on Circuits & Systems II (TCAS II)</li>
                        <li>IEEE Transaction on Computer Aided Design (TCAD)</li>
                        <li>IEEE Transaction on Very Large Scale Integration (TVLSI)</li>
                        <li>IEEE Microwave and Wireless Components Letters (MWCL)</li>
                        <li>IEEE Design and Test Magazine (D&T)</li>
                        <li>ACM Transactions on Design Automation of Electronic Systems (TODAES)</li>
                        <li>IEEE Transactions on Biomedical Circuits and Systems (TBioCAS)</li>
                        <li>Springer Journal of Electronic Testing (JETTA)</li>
                        <li>ACM Journal on Emerging Technologies in Computing Systems (JETC)</li>
                        <li>IEEE Journal of Emerging and Selected Topics in Circuits and Systems (JETCAS)</li>
                        <li>Springer Journal of Medical Systems (JOMS)</li>
                    </ul>

                    <h4 class="accent">Conference Reviews:</h4>
                    <ul>
                        <li>ACM/IEEE Design Automation Conference (DAC)</li>
                        <li>IEEE International Test Conference (ITC)</li>
                        <li>IEEE Design, Automation & Test in Europe (DATE)</li>
                        <li>IEEE VLSI Test Symposium (VTS)</li>
                        <li>IEEE International Symposium on Low Power Electronics & Design (ISLPED)</li>
                        <li>IEEE International Conference on VLSI Design</li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="accent">SPARC LAB participating at <a href="https://www.purdue.edu/discoverypark/birck/events/NanoDays/index.php" target="_blank">PURDUE NANODAYS</a> with School Students</h4>

                    <a href="https://www.purdue.edu/discoverypark/birck/events/NanoDays/index.php" target="_blank"><img class="img-fluid" src="{% static "img/banner.jpg" %}"width="100%"></a>

                    <img class="img-fluid" src="{% static "img/Nanodays1.jpg" %}" >
                    <img class="img-fluid" src="{% static "img/Nanodays2.jpg" %}">
                    <img class="img-fluid" src="{% static "img/Nanodays3.jpg" %}">
                    <iframe width="100%" height="360" src="https://www.youtube.com/embed/tjCQyrbAvqU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
{% endblock %}